<div class="card text-center">
  <div class="card-header">
    Description T001
  </div>
  <div class="card-body">
    <h5 class="card-title">Create a slideshow component</h5>
    <p class="card-text">
      In this page it's needed a carousel to permit to the user to select an image that he want view as principal image.<br/>
      You must create a slideshow component that receive in input:<br/>
      -->Image array<br/>
      -->Number of images visible<br/>

      On click of the user on one image, the selected must be visible as principal image (img id=principal)
    </p>
  </div>
  <div class="card-footer text-muted">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body" style="height: 300px;">
              <img class="w-75" alt="Principal image" id="principal"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

