<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Bugfix list</h5>
    <div class="card-text">
      <ul>
        <li>
          <a routerLink="/bugfix/b-001">B001 - Form update doesn't refresh the child component</a>
        </li>
        <li>
          <a routerLink="/bugfix/b-002">B002 - Child component without name</a>
        </li>
        <li>
          <a routerLink="/bugfix/b-003">B003 - Sorting of the country table doesn't work</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card w-100 mt-5">
  <div class="card-body">
    <h5 class="card-title">Task's list</h5>
    <div class="card-text">
      <ul>
        <li>
          <a routerLink="/tasks/t-001">T001 - Create a slideshow component</a>
        </li>
      </ul>
    </div>
  </div>
</div>
